@import "tailwindcss";

/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

/* Your custom animation */
@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animation-slide {
    animation: slide 10s linear infinite;
  }
  .font-poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .font-poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .font-poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  .font-volkhov-bold {
    font-family: "Volkhov", serif;
    font-weight: 700;
  }
}
